<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
<p id="alert"><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
<fieldset>
  <legend>Logowanie</legend>
  <div>
    <%= label_tag :login, 'Login:' %>
    <%= text_field_tag :login, params[:login] %>
  </div>
  <div>
    <%= label_tag :password, 'Hasło:' %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div>
    <%= submit_tag "Zaloguj się" %>
  </div>
</fieldset>
<% end %>