<%= flash_fields %>

<h1>Lista książek</h1>

<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Rezerwacja</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% my_book = Book.get_my(session)
       session[:reservation_id] = nil unless my_book %>
    <% @books.each do |book| %>
      <tr id="tr<%= book.id %>">
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td style="text-align:center">
          <% if book.reserved? && book != my_book %>
            TAK
          <% else %>
            <span id="not_reserved_mark_<%= book.id %>" class="not_reserved_mark">NIE</span>
            <%= button_to 'Anuluj rezerwację', cancel_reservation_book_url(book), remote: true, id: "cancel_reservation_button_#{book.id}", class: "hidden" %>
            <%= button_to 'Rezerwuj', make_reservation_book_url(book), remote: true, id: "make_reservation_button_#{book.id}", class: "hidden make_reservation_button" %>
          <% end %>
        </td>

        <td>
        <%= link_to 'Pokaż', book %>
        <% if admin? %>
        <%= link_to 'Edytuj', edit_book_path(book) %>
        <%= link_to 'Usuń', book, remote: true, method: :delete, data: { confirm: 'Na pewno usunąć?' } %>
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
<%= link_to 'Dodaj książkę', new_book_path %>
<% end %>

<% if Settings.reservations == 'on' %>
<script type="text/javascript">

function make_reservation(book_id){
  $(".make_reservation_button").hide();
  $(".not_reserved_mark").show();
  $("#not_reserved_mark_" + book_id).hide();
  $("#cancel_reservation_button_" + book_id).show();
}

function cancel_reservation(book_id){
  $(".not_reserved_mark").hide();
  $(".make_reservation_button").show();
  if(book_id != -1)
    $('#cancel_reservation_button_' + book_id).hide();
}

$(function(){
  if(navigator.cookieEnabled){
    <% if my_book %>
      make_reservation(<%= my_book.id %>);
    <% else %>
      cancel_reservation(-1);
    <% end %>
  }
})
    
</script>
<% end %>