<%= flash_fields %>

<div class="wierszyk2">
<br>
<i>
&ldquo;Zamiast kwiaty nam przynosić <br>
Bowiem więdną z grawitacją <br>
Dobrą książkę śmiemy prosić <br>
Z własną wewnątrz dedykacją&rdquo; <br>
</i>
<br>
</div>

<h2>Proponowane książki<%= admin? ? "(#{@books.size})" : "<big>&#9786</big>".html_safe %></h2>

<% my_book = Book.get_my(session)
   session[:reservation_id] = nil unless my_book %>

<% unless admin? %>
<p>
<big>
<span id="your_reservation">
</span>
</big>
</p>
<% end %>

<table class="books_table<%= '_admin' if admin? %>">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th style="text-align:center">Rezerwacja</th>
      <% if admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr id="tr<%= book.id %>">
        <td><%= book.title %><%#= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td style="text-align:center">
          <% if book.reserved? && (book != my_book || admin?) %>
            zarezerwowane
          <% else %>
            <span id="not_reserved_mark_<%= book.id %>" class="not_reserved_mark">wolne</span>
            <%= button_to 'Anuluj rezerwację', cancel_reservation_book_url(book), remote: true, id: "cancel_reservation_button_#{book.id}", class: "hidden" %>
            <%= button_to 'Rezerwuj', make_reservation_book_url(book), remote: true, id: "make_reservation_button_#{book.id}", class: "hidden make_reservation_button" %>
          <% end %>
        </td>

        <% if admin? %>
        <td>
        <%= link_to 'Pokaż', book %> 
        <%= link_to 'Edytuj', edit_book_path(book) %>
        <%= link_to 'Usuń', book, remote: true, method: :delete, data: { confirm: 'Na pewno usunąć?' } %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
<%= link_to 'Dodaj książkę', new_book_path %>
<% end %>

<% if Settings.reservations == 'on' && !admin?%>
<script type="text/javascript">

function make_reservation(book_id, book_title, book_author){
  $(".make_reservation_button").hide();
  $(".not_reserved_mark").show();
  $("#not_reserved_mark_" + book_id).hide();
  $("#cancel_reservation_button_" + book_id).show();
  $("#your_reservation").html("Twoja rezerwacja: \"" + book_title + "\", " + book_author);
}

function cancel_reservation(book_id){
  $(".not_reserved_mark").hide();
  $(".make_reservation_button").show();
  if(book_id != -1)
    $('#cancel_reservation_button_' + book_id).hide();
  $("#your_reservation").html("");//("Nie zarezerwowałeś jeszcze książki");
}

$(function(){
  if(navigator.cookieEnabled){
    <% if my_book %>
      make_reservation(<%= my_book.id %>, "<%= my_book.title %>", "<%= my_book.author %>");
    <% else %>
      cancel_reservation(-1);
    <% end %>
  }
})
    
</script>
<% end %>