<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Lista książek</h1>

<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Rezerwacja</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr id="tr<%= book.id %>">
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td style="text-align:center">
          <% if book.reserved? %>
          TAK
          <% else %>
          <%= button_to 'Rezerwuj', reserve_book_url(book), remote: true %>
          <% end %>
        </td>

        <td>
        <%= link_to 'Pokaż', book %>
        <% if logged? %>
        <%= link_to 'Edytuj', edit_book_path(book) %>
        <%= link_to 'Usuń', book, remote: true, method: :delete, data: { confirm: 'Na pewno usunąć?' } %>
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged? %>
<%= link_to 'Dodaj książkę', new_book_path %>
<% end %>