<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Zarezerwowana:</strong>
  <%= @book.reserved %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<% if logged? %>
<%= link_to 'Edytuj', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Wróć', books_path %>
