<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Zarezerwowana:</strong>
  <%= @book.reserved? %>
</p>

<% if admin? %>
<p>
  <strong>Ukryta notatka:</strong>
  <%= @book.hidden_note %>
</p>
<% end %>

<% if admin? %>
<%= link_to 'Edytuj', edit_book_path(@book) %> |
<%= link_to 'Usuń', book_path(@book), method: :delete, data: { confirm: 'Na pewno usunąć?' } %> |
<% end %>
<%= link_to 'Wróć', books_path %>

<% if admin? %>
  <br><br>
  <%= render 'reservations' %>
<% end %>
