<!DOCTYPE html>
<html>
<head>
  <title>Strona ślubna Kingi i Piotra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  	html{
  		height:100%;
  	}

  	body{
  		background-color: #d4bb6c;
  		height: 100%;
  		padding: 5px;
  	}

  	#container {
    	margin-right:auto;
    	margin-left:auto;
    	width: 700px;
    	min-height: calc(100% - 20px);
    	background-color: #e6d7a9;
    	box-shadow: 10px 10px 10px 5px #888888;
  	}

    #photo{
    	width: 100%;
    	height: 100%;
    }

    #photo_div{
    	height: 300px;
    }

    #menu{
    	width: 100%;
    }

    #data{
    	width: 100%;
    	padding: 10px;
    	padding-top: 30px;
    	clear: both;
    }

    #menu ul {
	    float: center;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    list-style-type: none;

	}

	#menu li a {
	    float: center;
	    font-size: 1em;
	    color: white;
	    background-color: purple;
	    padding: 1em 1em 1em 1em;
	    border: 1px solid black;
	    text-decoration: none;
	}

	#menu a:hover {
	    background-color: fuchsia;
	}

	#menu li {
	    display: inline;
	}

	fieldset{
		width: 655px;
	}

	.hidden{
		display: none;
	}

  </style>

</head>
<body>

<div id='container'>
	<div id='photo_div'>
		<%= image_tag "flowers-260894_1280.jpg", id: 'photo' %>
	</div>
	<div id='menu'>
		<ul>
			<li>
				<%= link_to 'Strona główna', root_url %>
			</li>
			<li>
				<%= link_to 'Ceremonia ślubna', ceremonia_url %>
			</li>
			<li>
				<%= link_to 'Zamiast kwiatów', books_url %>
			</li>
			<% if logged? %>
			<li>
				<%= link_to 'Użytkownicy', users_url %>
			</li>
			<%= link_to 'Wyloguj się', logout_url, method: :delete %>
			<% end %>
		</ul>
	</div>
	<div id='data' class='<%= controller.controller_name %>'>
	<%= yield %>

	<!-- x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	x<br>
	y<br> -->
	</div>
</div>

</body>
</html>
