<!DOCTYPE html>
<html>
<head>
  <title>Strona ślubna Kingi i Piotra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

<div id='container'>
	<div id='photo_div'>
		<%= image_tag "flowers-260894_1280.jpg", id: 'photo' %>
	</div>
	<div id='menu'>
		<ul>
			<li>
				<%= link_to 'Zaproszenie', root_url %>
			</li>
			<li>
				<%= link_to 'Jak dojechać', dojazd_url %>
			</li>
			<li>
				<%= link_to 'Zamiast kwiatów', books_url %>
			</li>
			<% if admin? %>
			<li>
				<%= link_to 'Admin', users_url %>
			</li>
			<%= link_to 'Wyloguj się', logout_url, method: :delete %>
			<% end %>
		</ul>
	</div>
	<div id='data' class='<%= controller.controller_name %>'>
	<div style="clear:both"></div>
	<%= yield %>

	<%#= "<!-- #{'x<br>' * 60} -->".html_safe %>

	</div>
</div>

</body>
</html>
